.skill_item {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

.skill_item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
}

.skill_item .progress {
  background-color: var(--bg-black-50);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.skill_item .progress .progress_in {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}

.skill_item .skill_percent {
  position: absolute;
  right: 0;
  color: var(--text-black-900);
  top: -40px;
  font-weight: 400;
  line-height: 40px;
}
