.skills {
  flex: 0 0 40%;
  max-width: 60%;
  margin-top: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: -15px;
  margin-right: -15px; */
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.padd_15 {
  padding-left: 15px;
  padding-right: 15px;
}
